# Build folders
/build/
/Builds/
/JuceLibraryCode/

# IDE files
/.vs/
/.vscode/
/.idea/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters

# Compiled binaries
*.dll
*.exe
*.dylib
*.so
*.a
*.lib

# CMake user presets (containing local paths)
CMakeUserPresets.json